@import "font-awesome/css/font-awesome.min.css";
@import "bootstrap/dist/css/bootstrap.min.css";



.main-todo-list {
	min-height: 77vh;
}

html {
	box-sizing: border-box;
}

body{
	background-color: #e5f5f5;
}


.box{
    height: auto;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    background: #d3d3d3;
    border-radius: 20px;
    -webkit-box-shadow: 15px 31px 67px -9px rgba(0,0,0,.37);
    -moz-box-shadow: 15px 31px 67px -9px rgba(0,0,0,.37);
    box-shadow: 15px 31px 67px -9px rgba(0,0,0,.37);
    margin: 200px auto;
    font-size: 1.8rem;
	margin-bottom: 150px;
	max-width: 35%;
}

.box {
	margin-bottom: 150px;
}

.box h1{
	margin: 10px;
	padding-top: 15px;
	font-weight: bold;
	font-size: 1.8rem;
}

.box li{
	list-style: none;
}


.box button{
	background-color: #52A8FF; 
    border: none;
    color: white;
    padding: 5px 10px;
	text-align: left;
	font-size: 1.0rem;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
	margin-right: 10px;
	margin-bottom: 5px;
}

.box input{
	width: 85%;
	height: 35px;
	border-radius: 12px;
	background: #EDF7FA;
	margin-right: 5px;
	border: none;
}

/* .box input[text]{
	font-size: 1.3rem;
} */

.fa-times {
	float: right;
	color: darkred;
	margin-left: 10%;
	cursor: pointer;
 	 margin-top: 5px;
}

.fa-check-circle-o {
	color: #52A8FF;
	margin-right: 10px;
}

.fa-circle-o{
	margin-right: 10px;
}

.completed{
	color: gray;
	text-decoration: line-through;
}

@media(max-width: 650px){

	.box {
		max-width: 80%;
	}


	.box li{
		font-size: 1.4rem;
	}

	.box div button{
		font-size: 1.0rem;
	}
}