.main-contact {
  min-height: 100vh;
}

#contact-header{
    text-align: center;
    margin-top: 100px;
    font-size: 1.2rem;
  }
  

  #contact-header p{
    font-size: 1.4em;
  }

#contact-me{
  width: 250px;
  margin: 0 auto;
  padding-bottom: 150px;
  background: lightgrey;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 5px;
}

#contact-me h3 {
  margin-top: 8px;
}

form input {
  margin-left: 10px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#submit{
  width: 70%;
  background: #e5f5f5;
  margin-top: 10px;
  font-size: 1.2rem;
  padding: 5px;
}

.hidden{
  visibility: hidden;
  display: none;
}


#contact-places{
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  color: lightgrey;
}

#contact-places a:visited{
  color: lightgrey;
}

