html {
	box-sizing: border-box;
	background: #EDF7FA;
}

@media (max-device-width: 700px){
	.container {
		font-size: 1.3rem;
	}
	.box{
		width: 80%;
	}
}

body{
	background: #EDF7FA;
}
.container{
	max-width: 90%;
	line-height: 1.8;
	width: 30rem;
	height: 30rem;
	margin: 70px auto;
	margin-bottom: 100px;
}

.box{
	height: auto;
	padding-bottom: 3%;
	padding-left: 5%;
	padding-right: 5%;
	background: lightgray;
	border-radius: 10%;
	-webkit-box-shadow: 15px 31px 67px -9px rgba(0,0,0,0.37);
	-moz-box-shadow: 15px 31px 67px -9px rgba(0,0,0,0.37);
	box-shadow: 15px 31px 67px -9px rgba(0,0,0,0.37);
	width: 70%;
	margin: 0 auto;
	margin-top: 200px;
}

.box {
	/* padding: 3px; */
}

.box h2{
	position: relative;
	top: 18px;
}

.box li{
	list-style: none;
}


.box button{
	background-color: #52A8FF; 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
	margin-right: 10px;
}

.box input{
	width: 170px;
	height: 20px;
	border-radius: 12px;
	background: #EDF7FA;
	margin-right: 5px;
}

.fa-times {
	float: right;
	color: darkred;
	margin-left: 10%;
	cursor: pointer;
  margin-top: 10px;
}

.fa-check-circle-o {
	color: #52A8FF;
	margin-right: 10px;
}

.fa-circle-o{
	margin-right: 10px;
}

.completed{
	color: gray;
	text-decoration: line-through;
}

