#navbar{
    position: fixed;
    background: lightgray;
    width: 100%;
    top: 0;
  }
  
  #navbar ul{
    text-align: center;
    padding: 10px;
  }
  
  #navbar li {
    display: inline;
    margin: 10px;
    padding-top: 8px;
    /*margin-bottom: 15px;*/
  }
  
  #navbar a{
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px;
  }

  @media(max-width: 700px){
    #navbar li {
      display: inline-block;
    }
  }